<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Brak strony</title>
</head>
<body>

<div th:replace="fragments :: navbar">navbar</div>
<div th:replace="fragments :: title(subtitle='Strona zwierzaka')">title</div>


<div class="text-center">

    <img th:src="${animal.getURL()}" class="img-fluid">
    <p th:utext="${'Imię: ' + animal.getName() + '<br>gatunek: ' + animal.getSpecies()}"></p>
    <p th:text="|${animal.getDescription()} |"></p>


    <div th:replace="fragments :: footer">footer</div>


</div>
</body>
</html>